.leaf{
    position: absolute;
    left: 260px;
    top:-20px;
    width: 300px;
    height: 300px;
    border-radius: 0 900px;
    background-color: #32cd32;
    z-index: 0;
    transform: rotate(170deg);

}
.circle1{
    position: relative;
    margin-left: 40%;
    margin-top: 5%;
    width: 500px;
    height: 250px;
    border-radius: 250px 250px 0 0;
    background-color: yellow;
    z-index: 10;

}
.circle2{
    position: relative;
    margin-left: 40%;
    margin-top: 6%;
    width: 500px;
    height: 250px;
    border-radius: 0 0 250px 250px;
    background-color: yellow;
    z-index: 10;
    
}
.word{
    left: 150px;
    top: 160px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 80px;
}